body {
    /*background-image:url("http://img3.goodfon.su/original/1440x900/a/7c/specii-perec-chesnok-myata.jpg");*/
    font-family: 'Arvo', serif;
    background-image:url('https://36.media.tumblr.com/a2f0c07ca15cd6d8a17836c23d0bde24/tumblr_mr3htw8bLC1suicu1o1_1280.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

h1 {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 60pt;
    color: #FFF;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.primary-buttons {
    top: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.primary-buttons a {
    text-decoration:none;
    color: black;
}