/***
 *
 * FoodByte Main CSS Stylesheet!
 *
 ***/

body {
    font-family: 'Arvo', serif;
    background-image: url('img/mainBackgroundBlur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 4% auto;
    font-size: 84pt;
    color: #FFF;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


/* Navbar Properties */
#navbar-main a {
    color: black;
}

/* Main Button Properties */
.primary-buttons {
    text-align: center;
}

.primary-buttons a {
    text-decoration: none;
    color: black;
}

.btn-group-lg {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

/* Swipe CSS */

.image-file {
    width: 400px;
    height: 300px;
}