body {
    font-family: 'Arvo', serif;
}

h1 {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40pt;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width:700px;
    /*height:600px;*/
}

.item1 {
    height: 200px;
    width: 200px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

.item2 {
    height: 200px;
    width: 200px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

.item3 {
    height:200px;
    width:200px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

#food {
    height: 570px;
    width: 410px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#accept {
    height: 100px;
    width: 100px;
}

#reject {
    height: 100px;
    width: 100px;
}