/***
 *
 * FoodByte Main CSS Stylesheet!
 *
 ***/
body {
    font-family: 'Arvo', serif;
    background-color:#EBEBE0;
}

/* Area Code Modal Properties */
.modal-backdrop {
    opacity: 0.89 !important;
}

.border-radius {
    
}

/*.modal-open:not(.modal) {*/
/*    -webkit-filter: blur(17px);*/
/*    -moz-filter: blur(17px);*/
/*    -o-filter: blur(17px);*/
/*    -ms-filter: blur(17px);*/
/*    filter: blur(17px);*/
/*}*/

/* Food Name Properties */
.name {
    margin: 50px auto;
}

h1 {
    text-align: center;
    font-size: 40pt;
    color: black;
}

/* Food Swipe Menu */
.swipe-menu {
    margin: 0 auto;
    width: 700px;
    margin-top: 5%;
    /*height:600px;*/
    margin-bottom:5%;
}

.information {
    display:none;
    margin-bottom:5%;
}

/*might not need this but leave it here for now*/
.hi {
    text-align: center;
}

#restaurant-info {
    margin: 10% auto;
    width: 85%;
}

#restaurant-info p {
    text-align: left;
}

/* Header and Footer Navbar Properties */
#header-navbar a {
    text-decoration: none;
    color: black;
}

#footer-navbar a {
    text-decoration: none;
    color: black;
}

.move-image-right {
    text-align:right;
    float:right;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}